html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
    background-color: black;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}

.all {
    background-color: black;
    padding-left: 40px;
    padding-top: 40px;
}


.edu-t, .honors-t, .skills-t {
    position: relative;
    font-family: "Major Mono Display", monospace;
    font-size: 60px;
    padding-top: 1vh;
    padding-bottom: 1vh;
    color: white;
}

.edu-d, .honors-d, .skills-d {
    position: relative;
    font-family: "Nokora", serif;
    font-weight: 100;
    font-size: 30px;
    color: white;
    padding-bottom: 5vh;
}

.topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top-padding: 40px;
    left-padding: 40px;
    right-padding: 40px;
    font-size: 20px;
    font-family: "Major Mono Display", monospace;
  font-weight: 400;
  font-style: normal;
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: black;
    padding-top: 1vh;
    padding-bottom: 1vh;
    top: 0vh;
    padding-left: 1vw;
}

a {
    text-decoration: none;
    color: white;
}

a clicked {
    text-decoration: none;
    color: white;
}

a:hover {
    color: greenyellow;
}

